h1{
    color: rgb(244, 242, 247);
    font-size: larger;
    font-size: 90px;
}
body{
background-size: cover;
background-position: center;
}
h2{

    font-size: 60px;

}



p{
    color: rgb(247, 243, 250);
}
h2{
    color: rgb(188, 205, 201);
}
p{

font-size: 30px;
}

}

